header{height:40px; background-color:#333;}

.container{width:1226px; margin:0 auto; /* border:1px solid red; */}
header .header_1{float:left; margin-left:-8px;}
header .header_1 li,header .header_2 li{position:relative; float:left; padding:0 9px; line-height:40px;}
header .header_1 li a{color:#b0b0b0;}
header ul li a:hover{color:#fff;}
header ul li:after{display:block; position:absolute; right:1px; top:14px; content:''; width:1px; height:12px; background:#b0b0b0;}
header .car,header .header_2{float:right}
header .header_2{margin-right:16px;}
header .header_2 li a{color:#b0b0b0;}
header .last:after{display:none;}
header .car{width:120px; height:40px; background:#424242; line-height: 40px; text-align:center; color:#b0b0b0;}
/*header结束*/
nav{height:100px;}
nav h1,nav .nav_ul{float:left}
nav h1{margin:22px 0 23px; width:55px; height:55px; background:#f60;}
nav .nav_ul{margin-left:190px;}
nav .nav_ul li{padding-left:20px; float:left; height:100px; line-height:100px; font-size: 16px;}
nav .nav_div,nav .search{float:right;}
nav .nav_div{position:relative;}
nav .nav_div{position:relative; margin-top:25px; height:48px;}
nav form input{width: 243px; height: 48px; border:1px solid #a4b094;}
nav form a{padding:0 5px; position:absolute; top:16px; height:18px; line-height:18px; background: #ccc; color:#000;}
nav form .nav_a_1{left:72px;}
nav form .nav_a_2{margin-left:5px;right:11px;}
nav .search{margin-top:25px; height:48px; width:50px; border:1px solid #a4b094; border-left:none;}
/* nav结束*/
.section_2{height:460px;}
.section_2 .left,.banner{float:left; overflow:hidden;}
.section_2 .left{padding:20px 0; width:234px; background:#333; height:420px;}
.section_2 .left ul li{padding-left:30px; height:42px; line-height:42px; color:#fff; font-size:14px;}
.section_2 .left ul li:hover{background:#f60;}
/*左侧ul结束*/
.banner{position:relative; width:992px; height:460px; overflow:hidden;}
.banner .wrap li{float:left; width:992px; height:460px;}
.banner .wrap .banner_wrap_1{background:url('../img/banner_1.jpg') 0 0 no-repeat;}
.banner .tip{position: absolute; right:30px; bottom:22px;}
.banner .tip li{float:left; text-align:right; width: 6px; height:6px; margin:0 5px; background:#000; border-radius:100%; border:2px solid #424242;cursor:pointer;}
.banner .tip li:hover{background:#fff;}
.banner .tipL,.banner .tipR{position:absolute; width:40px; height: 70px; top:50%; margin-top:-35px;}
.banner .tipL{left:0; background:url('../img/tip.png') -84px 0 no-repeat;}
.banner .tipR{right:0; background:url('../img/tip.png')  -121px 0 no-repeat;}
.banner .tipL:hover{background:url('../img/tip.png') 0 0 no-repeat;}
.banner .tipR:hover{background:url('../img/tip.png') -42px 0 no-repeat;}
/* banner结束 */
.div4{margin-top: 14px;  border:1px solid blue;}
.div4 .span6{width:234px; height:170px; background:#5f5750}
.div4 .span6,.div4 .div4_ul{float:left;}
.div4 .div4_ul li{float:left; margin-left:14px;  width:316px; height:170px; background:url('../img/mi5.jpg') 0 0 no-repeat; background-size:100% 100%;}
/* 中间广告结束 */
.star{margin-top:26px;}
.star_h2{position:relative; height:58px;}
.star .star_h2 .star_tip{position:absolute;}
.star h2{height:58px; width:250px; line-height:58px; color:#333; font-size:22px; font-weight:200;}
.star .star_tip{right:0; top:50%; margin-top:-12px; width:70px; height:25px;}
.star_tip a{float:left; width:24px; height:16px; padding:3px 5px; background:#b0b0b0;}
.star_ul{height:340px; margin-right:-14px;}
.star_ul ul li{margin-right: 14px; float:left; width:234px; height:300px; padding-top:39px; border-top:1px solid pink; text-align:center; background: #fafafa;}
.star_ul ul li .a_img{display:block; width:160px; background-size:100% 100%; margin:0 auto 22px;}
.star_ul ul li h3{margin:0 20px 3px;}
.star_ul ul li h3 a{color:#000; font-size:14px; font-weight:400;}
.star_ul ul li .des{margin:0 20px 12px; height:18px; line-height:18px; color:#b0b0b0;}
.star_ul ul li .price{color:#f60;}
/* star结束 */

.content{margin-top:40px; padding-top:60px; width:100%; background:#f5f5f5;}
.contentMain .content_h{height:58px; position:relative;}
.contentMain .content_h h3{font-size:22px; font-weight:200;line-height:58px;}
.contentMain .content_h .more{position:absolute; height:48px; top:0; right:0;}
.content_2_1 .content_h .more a{font-size:16px; color:#424242; height:58px; line-height:58px;}
.more a span{margin-left:8px; display:inline-block; padding:4px; width:12px; height:12px; line-height:12px; vertical-align:-2px; background:#ccc; border-radius:100%;}

.contentMain .left,.contentMain .right,.contentMain .right li{float:left;}
.contentMain .left{width:234px; height:628px;}
.contentMain .right{width:978px; margin-left:14px; background:#f5f5f5; position:relative;}
.contentMain .right ul{width:992px; height:64px; margin-left:-14px;}
.contentMain .right ul li{margin:0 0 14px 14px; background:#fff; width:194px; height:260px; padding:20px; transition:all 0 linear;}
.contentMain .right ul li div{margin:0 auto 18px;}
.contentMain .right ul li div a{display:block; text-align:center;}
.contentMain .right ul li h3{margin:0 10px 2px; font-size:14px; font-weight:400; text-align:center;}
.contentMain .right ul li h3 a{color:#424242;}
 // .contentMain .right ul li:hover{margin-bottom:13px; box-shadow: 2px 0 2px #ccc;}
.content_2_1 .right ul li .des{margin:0 10px 10px;}
.content_2_1 .right ul li .price{margin:0 10px 14px;}
/*以下是每个li中 p 的公共部分*/
.desMain{height:18px; line-height:18px; color:#b0b0b0;}
.priMain{ color:#f60; text-align:center;}
/* 公共部分结束 */

.content_2_2 .content_h .right_ul{margin:0; padding:16px 0 0; font-size:16px;}
.content_2_2 .content_h .right_ul li{margin:0 0 0 30px; float:left; cursor:pointer; border-bottom:2px solid transparent}
.content_2_2 .content_h .right_ul li:hover{color:#f60; border-bottom:2px solid #f60;}
.content_2_2 .left li a{display:block; height:300px;}
.content_2_2 .left ul .liT{margin-top:14px;}
.content_2_2 .des{margin:0 10px;  text-align:center;}
.content_2_2 .price{margin:0 10px 10px;}

.content_2_3 .right .last{height:93px; padding:50px 0 0 0; width:234px; position:relative;}
.content_2_3 .right .last .divImg{position:absolute; width:80px; height:80px; top:32px; right:20px;}
.content_2_3 .right .last h4{margin:-10px 110px 5px 30px; font-size:14px; }
.content_2_3 .right .last h4 a{ font-weight:300; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.content_2_3 .right .last p{margin:0 110px 0 30px; color:#f60;}

/* 以下是hover效果 */
.content_2_3 .right li{position:relative;}
.content_2_3 .right li:hover .hoverDiv {height:74px; opacity:1}
.content_2_3 .hoverDiv{position:absolute; width:234px; bottom:-14px; left:0; background:#f60; font-size:12px; opacity:0; height:0; transition:all .2s linear;}
.content_2_3 .hoverDiv a{display:block; padding:8px 30px; }
.content_2_3 .hoverDiv a span{display:block; margin-bottom:5px; color:#fff;}
.content_2_3 .hoverDiv a .per{color:rgba(255,255,255,.6);}

// .starDown_ul{width: 1240px; height:420px;}
.starDown_ul>ul{margin-left:-14px;}
.starDown_ul>ul>li{float:left; position:relative; margin:0 0 14px 14px; width: 296px; height:374px; padding:54px 0 0; border-top:1px solid #e0e0e0;background:#fff;}
.bigLi h3{margin:0 10px 18px; font-size:16px; font-weight: 400; text-align:center; color:#f60;}
.bigLi .ulContent{height:340px;}
.bigLi .ulContent h4{margin:0 20px 5px; font-size:20px; font-weight:400px; line-height:1.25; white-space:nowrap; text-overflow:ellipsis; text-align:center;}
.bigLi .ulContent a{color:#000;}
.bigLi .ulContent p{margin:0 48px 10px; height:40px; line-height:20px; text-align:center; overflow:hidden; color:#b0b0b0;}
.bigLi .ulContent p a{color:#b0b0b0;}
.bigLi .ulContent .boxImg{display:block; width: 200px; height:142px; margin:0 auto;}

.bigLi .downTip{position:absolute; left:0; bottom:15px;}
.bigLi .downTip li{display:inline-block; width:10px; height:10px; margin:10px; border-radius:100%; background:#ccc;}













